
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



  body{
	font-family: 'Press Start 2P', cursive;
	background-color: black;
	color: white;
  }
  header{
	display: flex;
	justify-content: center;
	font-size: 2vmin;

  }
  .first h1 {
	background: url('./images/stonebackground.webp');
	-webkit-background-clip: text;
	background-size: contain;
	width: 100%;
	color: transparent;
	font-weight: 900;
	margin-right: 0.5em;
  }
  .second h1{
	background: url('./images/paperbackground.webp');
	-webkit-background-clip: text;
	background-size: contain;
	
	width: 100%;
	color:transparent;
	font-weight: 900;
	margin-right: 0.5em;

  }
  .third h1{
	background: url('./images/scissorbackground.webp');
	-webkit-background-clip: text;
	background-size: contain;
	width: 100%;
	color: transparent;
	font-weight: 900;
	
  }
  .center {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
  }
  
  .life{
	display: flex;
	width:100%;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5vmin;
  }
  .lifenos{
	margin-right: 1rem;
  }
  .lifenos img{
	width:2rem;
	height:2rem;
  }
  .lifeDetails{
	margin-left: 1rem;
	color: white;
	justify-content: flex-end;

  }
  .computer{
	margin-top: 5vh;
	margin-bottom: 5vh;
	color: white;
	font-size: 1.5vmin;

	width: 100%;
	
  }
  .computerChoice {
	width: 10vmin;
	height:10vmin;
	border: solid;
	margin: auto;
}
.computerChoice img{
	width:10vmin;
}
  .computer img{
	width: 10vmin;
  }
  .slot-machine{
	display: flex;
	justify-content: center;
  }
  .slot{

	border: solid;
	width: 10vmin;
	height: 10vmin;
	margin:5vh;
  }
  .computer p{
	display: flex;
	justify-content: center;
  }
.winner{
	margin:2vw;
	width: 100%;
	margin: auto;
}
.winnerimage{
	margin: auto;
	width:10vmin;
	height: 10vmin;
	border: solid;

	
}
.winnerimage img{
	width:10vmin;
}
.winnername{
	width: 100%;
	margin: auto;
}
.userChoice{
	
	width: 100%;
	margin: auto;
}
.userChoice h1{
	font-size: 1vmin;

}
.options{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.optionsintro{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.playerchoice {
	width: 10vmin;
	height:10vmin;
	border: solid;
	margin: auto;
}
.playerchoice img{
	width:10vmin;
}
.options img{

	border: solid;
	width:10vmin;
	height: 10vmin;
}


  
  
  