
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



  body{
	font-family: 'Press Start 2P', cursive;
	background-color: black;
  }
  header{
	display: flex;
	justify-content: center;
	font-size: 2vw;

  }
  .first h1 {
	background: url('./images/6963bbf342d87b3a2150bd8f59682b89.jpg');
	-webkit-background-clip: text;
	background-size: contain;
	width: 100%;
	color: transparent;
	font-weight: 900;
	margin-right: 0.5em;
  }
  .second h1{
	background: url('./images/fire.webp');
	-webkit-background-clip: text;
	background-size: contain;
	width: 100%;
	color: transparent;
	font-weight: 900;
	margin-right: 0.5em;

  }
  .third h1{
	background: url('./images/metal.avif');
	-webkit-background-clip: text;
	background-size: contain;
	width: 100%;
	color: transparent;
	font-weight: 900;
	
  }
  .life{
	display: flex;
	width:100%;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2vh;
  }
  .lifenos{
	margin-right: 1rem;
  }
  .lifenos img{
	width:2rem;
	height:2rem;
  }
  .lifeDetails{
	margin-left: 1rem;
	color: white;
	justify-content: flex-end;

  }
  .computer{
	color: white;
	font-size: 1vh;
	margin: auto;
	width: 100%;
	
  }
  .computer img{
	width: 10vh;
  }
  .slot-machine{
	display: flex;
	justify-content: center;
  }
  .slot{

	border: solid;
	width: 10vh;
	height: 10vh;
  }

  
  
  