

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



  body{
	font-family: 'Press Start 2P', cursive;
	background-color: black;
	color: white;
  }
  header{
	display: flex;
	justify-content: center;
	font-size: 2rem;

  }
  .first h1 {
	background: url('./images/stonebackground.webp');
	-webkit-background-clip: text;
	background-size: contain;
	width: 100%;
	color: transparent;
	font-weight: 900;
	margin-right: 0.5rrem;
  }
  .second h1{
	background: url('./images/paperbackground.webp');
	-webkit-background-clip: text;
	background-size: contain;
	
	width: 100%;
	color:transparent;
	font-weight: 900;
	margin-right: 0.5rrem;

  }
  .third h1{
	background: url('./images/scissorbackground.webp');
	-webkit-background-clip: text;
	background-size: contain;
	width: 100%;
	color: transparent;
	font-weight: 900;

  }
  .instructions{
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	font-size: 2.5rrem;

  }
  
  .monitor p{
	position: relative;
	display: inline-block;
	animation: move 10s infinite linear;
	color: white;
	
  }
  
  @keyframes move{
	from{
		left:100vw;
	}
	to{
		left:-100vw;
  }
}
  .life{
	display: flex;
	width:100%;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5rem;
  }
  .lifenos{
	margin-right: 1rem;
  }
  .lifenos img{
	width:5rem;
	height:5rem;
  }
  .lifeDetails{
	margin-left: 1rem;
	color: white;
	justify-content: flex-end;

  }
  .computer{
	margin-top: 5rem;
	margin-bottom: 5rem;
	color: white;
	font-size: 2.5rem;
	width: 100%;
  }
  .computerChoice {
	width: 10rem;
	height:10rem;
	border: solid;
	margin: auto;
}
.computerChoice img{
	width:10rem;
	
}
  .computer img{
	width: 10rem;
	height:10rem;
  }
  .slot-machine{
	display: flex;
	justify-content: center;
  }
  .slot{

	border: solid;
	width: 10rem;
	height: 10rem;
	margin:5rrem;
  }
  .computer p{
	margin-bottom: 5rrem;
	display: flex;
	justify-content: center;
  }
.winner{
	margin:2rem;
	width: 100%;
	margin: auto;
}
.winnerimage{
	margin: auto;
	width:10rem;
	height: 10rem;
	border: solid;

	
}
.winnerimage img{
	width:10rem;
	height:10rem;
}
.winnername{
	
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	margin-bottom: 5rem;
	margin-top: 5rem;



}
.userChoice{
	
	width: 100%;
	margin: auto;
}
.userChoice p{
	font-size: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.userChoice h1{
	font-size: 2.5rem;
	margin-bottom: 5rem;
	margin-top: 5rem;
}
.options{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.optionsintro{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.playerchoice {
	width: 10rem;
	height:10rem;
	border: solid;
	margin: auto;
}
.playerchoice img{
	width:10rem;
	height:10rem;
}
.options img{

	border: solid;
	width:10rem;
	height: 10rem;
}
@media(max-width:400px){
	html{
		font-size: 1vmin;
	}
}

  
  
  