@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
*{
	
}
body {
	
  font-family: "Press Start 2P", cursive;

	background-color: black;
  color: #ffffff;
  /*background-image: url('./images/background.webp');
	background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}
header {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.first h1 {
  background: url("./images/stonebackground.webp");
  -webkit-background-clip: text;
  background-size: contain;
  width: 100%;
  color: transparent;
  font-weight: 900;
  margin-right: 0.5rrem;
}
.second h1 {
  background: url("./images/paperbackground.webp");
  -webkit-background-clip: text;
  background-size: contain;

  width: 100%;
  color: transparent;
  font-weight: 900;
  margin-right: 0.5rrem;
}
.third h1 {
  background: url("./images/scissorbackground.webp");
  -webkit-background-clip: text;
  background-size: contain;
  width: 100%;
  color: transparent;
  font-weight: 900;
}
.instructions {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.monitor p {
  position: relative;
  display: inline-block;
  animation: move 10s infinite linear;
  color: white;
  font-size: 2.5rem;
}

@keyframes move {
  from {
    left: 100vw;
  }
  to {
    left: -100vw;
  }
}
.life {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.lifenos {
  margin-right: 1rem;
}
.lifenos img {
  width: 5rem;
  height: 5rem;
}
.lifeDetails {
  margin-left: 1rem;
  color: white;
  justify-content: flex-end;
}
.computer {
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: white;
  font-size: 2.5rem;
  width: 100%;
}
.computerChoice {
  width: 10rem;
  height: 10rem;
  border: solid;
  margin: auto;
}
.computerChoice img {
  width: 10rem;
}
.computer img {
  width: 10rem;
  height: 10rem;
}
.slot-machine {
  display: flex;
  justify-content: center;
}
.slot {
  border: solid;
  width: 10rem;
  height: 10rem;
  margin: 5rrem;
}
.computer p {
  margin-bottom: 5rrem;
  display: flex;
  justify-content: center;
}
.winner {
  margin: 2rem;
  width: 100%;
  margin: auto;
}
.winnerimage {
  margin: auto;
  width: 10rem;
  height: 10rem;
  border: solid;
}
.winnerimage img {
  width: 10rem;
  height: 10rem;
}
.winnername {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}
.userChoice {
  width: 100%;
  margin: auto;
}
.userChoice p {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.userChoice h1 {
  font-size: 2.5rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}
.options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.optionsintro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.playerchoice {
  width: 10rem;
  height: 10rem;
  border: solid;
  margin: auto;
}
.playerchoice img {
  width: 10rem;
  height: 10rem;
}
.options img {
  border: solid;
  width: 10rem;
  height: 10rem;
}
.reset {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Press Start 2P", cursive;
  padding: 1.5rem;
  border-radius: 2rem;
  font-size: 2rem;
}
.disChamp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.816);
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttoncontent button {
  font-family: "Press Start 2P", cursive;
  font-size: 5rem;

  margin-top: 30rem;
}
.buttoncontent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.championname {
  font-family: "Press Start 2P", cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9rem;
  -webkit-animation-name: wave;
  animation-name: wave;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.championname:nth-of-type(1) {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.55s;
  animation-delay: 0.55s;
}

.championname:nth-of-type(2) {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.championname:nth-of-type(3) {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}

.championname:nth-of-type(4) {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

@-webkit-keyframes wave {
  40%,
  50% {
    transform: translate(-50%, -65%) scale(1.05);
  }
  0%,
  90%,
  100% {
    transform: translate(-50%, -45%) scale(0.95);
  }
}

@keyframes wave {
  40%,
  50% {
    transform: translate(-50%, -65%) scale(1.05);
  }
  0%,
  90%,
  100% {
    transform: translate(-50%, -45%) scale(0.95);
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 4px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 4px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 4.5px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 4px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 5px;
  }
}
